<section class="overview">
  <div class="container">
    <div class="overview__top">
      <div class="overview__info">
        <h2 class="overview__title heading-h1">Activity & Updates</h2>
        <p class="overview__subtitle text-p-subtitle">
          Our biggest challenge is making sure we're always designing and
          building products that will help you run your business better.
        </p>
      </div>
      <ul class="overview__list">
        <li class="overview__list-item">
          <a class="overview__list-link overview__list-link--accented" href="#"
            >View all</a
          >
        </li>
        <li class="overview__list-item">
          <a class="overview__list-link" href="#">Design</a>
        </li>
        <li class="overview__list-item">
          <a class="overview__list-link" href="#">Articles</a>
        </li>
        <li class="overview__list-item">
          <a class="overview__list-link" href="#">Product</a>
        </li>
        <li class="overview__list-item">
          <a class="overview__list-link" href="#">Software Development</a>
        </li>
        <li class="overview__list-item">
          <a class="overview__list-link" href="#">Customer Success</a>
        </li>
      </ul>

      <div class="swiper overview__slider">
        <div class="overview__slider-btns">
          <svg
            width="28"
            height="18"
            viewBox="0 0 28 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
              stroke="#7E8492"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <span class="overview__slider-btns-left"></span>
          <span class="overview__slider-btns-right"></span>
        </div>
        <div class="swiper-wrapper">
          <div class="swiper-slide overview__article">
            <img
              loading="lazy"
              class="overview__article-img"
              src="./assets/images/overview/overview-img-1.jpg"
              width="515"
              height="428"
              alt="Woman typing on laptop and writing on a notebook"
            />
            <div class="overview__article-head text-p-small">
              <div class="overview__article-date">
                Published in Insight Jan 30, 2024
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
            </div>
            <h3 class="overview__article-title heading-h5">
              Practice making User Flow
            </h3>
            <div class="overview__article-descr">
              In this article, we'll cover how to <br />
              create user flows
            </div>
          </div>
          <div class="swiper-slide overview__article">
            <img
              loading="lazy"
              class="overview__article-img"
              src="./assets/images/overview/overview-img-2.jpg"
              width="515"
              height="428"
              alt="Woman typing on laptop and writing on a notebook"
            />
            <div class="overview__article-head text-p-small">
              <div class="overview__article-date">
                Published in Insight Jan 30, 2024
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="overview__article-author">
                by : Albert Sans
              </address>
            </div>
            <h3 class="overview__article-title heading-h5">
              Overview of the Design Principles
            </h3>
            <div class="overview__article-descr">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </div>
          </div>
          <div class="swiper-slide overview__article">
            <img
              loading="lazy"
              class="overview__article-img"
              src="./assets/images/overview/overview-img-3.jpg"
              alt="Woman typing on laptop and writing on a notebook"
            />
            <div class="overview__article-head text-p-small">
              <div class="overview__article-date">
                Published in Insight Jan 30, 2024
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
            </div>
            <h3 class="overview__article-title heading-h5">
              Using Grid in website design
            </h3>
            <div class="overview__article-descr">
              Andi: "What's the grid like?" Toni: “Like below…”
            </div>
          </div>
          <div class="swiper-slide overview__article">
            <img
              loading="lazy"
              class="overview__article-img"
              src="./assets/images/overview/overview-img-2.jpg"
              width="515"
              height="428"
              alt="Woman typing on laptop and writing on a notebook"
            />
            <div class="overview__article-head text-p-small">
              <div class="overview__article-date">
                Published in Insight Jan 30, 2024
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="overview__article-author">
                by : Albert Sans
              </address>
            </div>
            <h3 class="overview__article-title heading-h5">
              Overview of the Design Principles
            </h3>
            <div class="overview__article-descr">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
