<section class="features">
  <div class="container features__container">
    <div class="features__left">
      <img
        src="../../../assets/images/features-img.jpg"
        width="585"
        height="651"
        alt="Woman typing on laptop"
      />
      <div class="features__stats">
        <div class="features__stats-head">
          <h4 class="features__stats-title text-p-default">Statictic</h4>
          <svg
            loading="lazy"
            width="18"
            height="19"
            viewBox="0 0 18 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3.66822 8.03015C2.86672 8.03015 2.21094 8.68593 2.21094 9.48744C2.21094 10.2889 2.86672 10.9447 3.66822 10.9447C4.46973 10.9447 5.12551 10.2889 5.12551 9.48744C5.12551 8.68593 4.46973 8.03015 3.66822 8.03015Z"
              fill="#7E8492"
            />
            <path
              d="M13.8692 8.03015C13.0676 8.03015 12.4119 8.68593 12.4119 9.48744C12.4119 10.2889 13.0676 10.9447 13.8692 10.9447C14.6707 10.9447 15.3264 10.2889 15.3264 9.48744C15.3264 8.68593 14.6707 8.03015 13.8692 8.03015Z"
              fill="#7E8492"
            />
            <path
              d="M8.76857 8.03015C7.96706 8.03015 7.31128 8.68593 7.31128 9.48744C7.31128 10.2889 7.96706 10.9447 8.76857 10.9447C9.57007 10.9447 10.2259 10.2889 10.2259 9.48744C10.2259 8.68593 9.57007 8.03015 8.76857 8.03015Z"
              fill="#7E8492"
            />
          </svg>
        </div>
        <div class="features__stats-item">
          <svg
            loading="lazy"
            class="features__stats-item-img"
            width="95"
            height="88"
            viewBox="0 0 95 88"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.487305"
              y="0.477356"
              width="8.67429"
              height="87.0145"
              rx="4.33715"
              fill="white"
            />
            <rect
              x="0.487305"
              y="48.0062"
              width="8.67429"
              height="39.4856"
              rx="4.33715"
              fill="#1463FF"
            />
            <rect
              x="21.9326"
              y="0.477173"
              width="8.67429"
              height="87.0145"
              rx="4.33715"
              fill="white"
            />
            <rect
              x="21.9326"
              y="32.6505"
              width="8.67429"
              height="54.8411"
              rx="4.33715"
              fill="#1463FF"
            />
            <rect
              x="43.3779"
              y="0.477173"
              width="8.67429"
              height="87.0145"
              rx="4.33715"
              fill="white"
            />
            <rect
              x="43.3779"
              y="40.694"
              width="8.67429"
              height="46.7977"
              rx="4.33715"
              fill="#1463FF"
            />
            <rect
              x="64.8228"
              y="0.477051"
              width="8.67429"
              height="87.0145"
              rx="4.33715"
              fill="white"
            />
            <rect
              x="64.8228"
              y="22.4139"
              width="8.67429"
              height="65.0781"
              rx="4.33715"
              fill="#1463FF"
            />
            <rect
              x="86.27"
              y="0.477051"
              width="8.67429"
              height="87.0145"
              rx="4.33715"
              fill="white"
            />
            <rect
              x="86.27"
              y="9.25134"
              width="8.67429"
              height="78.2399"
              rx="4.33715"
              fill="#1463FF"
            />
          </svg>
          <div class="features__stats-item-info">
            <h5 class="features__stats-item-title">Total Income</h5>
            <div class="features__stats-item-price">
              <span class="features__stats-item-price-num">$7.020</span>
              <div class="features__stats-item-price-proc">
                <svg
                  loading="lazy"
                  width="10"
                  height="6"
                  viewBox="0 0 10 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.70735 5.70717C9.31683 6.09769 8.68366 6.09769 8.29314 5.70717L5.00024 2.41427L1.70735 5.70717C1.31683 6.09769 0.683662 6.09769 0.293138 5.70717C-0.0973871 5.31664 -0.097387 4.68348 0.293138 4.29295L4.29314 0.292954C4.68366 -0.0975701 5.31683 -0.09757 5.70735 0.292954L9.70735 4.29295C10.0979 4.68348 10.0979 5.31664 9.70735 5.70717Z"
                    fill="#50CD89"
                  />
                </svg>
                15%
              </div>
            </div>
            <p class="features__stats-item-descr">
              Your Income of this month compared to last month
            </p>
          </div>
        </div>

        <div class="features__stats-item">
          <svg
            loading="lazy"
            class="features__stats-item-img"
            width="95"
            height="88"
            viewBox="0 0 95 88"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.487793"
              y="0.0889893"
              width="8.6743"
              height="87.4224"
              rx="4.33715"
              fill="white"
            />
            <rect
              x="0.487793"
              y="32.5599"
              width="8.6743"
              height="54.9512"
              rx="4.33715"
              fill="#1463FF"
            />
            <rect
              x="21.9326"
              y="0.0889893"
              width="8.6743"
              height="87.4369"
              rx="4.33715"
              fill="white"
            />
            <rect
              x="21.9326"
              y="22.1319"
              width="8.6743"
              height="65.394"
              rx="4.33715"
              fill="#1463FF"
            />
            <rect
              x="43.3774"
              y="0.0889893"
              width="8.6743"
              height="87.4369"
              rx="4.33715"
              fill="white"
            />
            <rect
              x="43.3774"
              y="38.2965"
              width="8.6743"
              height="49.2292"
              rx="4.33715"
              fill="#1463FF"
            />
            <rect
              x="64.8228"
              y="0.0889893"
              width="8.6743"
              height="87.4369"
              rx="4.33715"
              fill="white"
            />
            <rect
              x="64.8228"
              y="47.1135"
              width="8.6743"
              height="40.412"
              rx="4.33715"
              fill="#1463FF"
            />
            <rect
              x="86.2703"
              y="0.0889893"
              width="8.67426"
              height="87.4369"
              rx="4.33713"
              fill="white"
            />
            <rect
              x="86.2703"
              y="55.9312"
              width="8.67426"
              height="31.5948"
              rx="4.33713"
              fill="#1463FF"
            />
          </svg>
          <div class="features__stats-item-info">
            <h5 class="features__stats-item-title">Total Expense</h5>
            <div class="features__stats-item-price">
              <span class="features__stats-item-price-num">$2.150</span>
              <div class="features__stats-item-price-proc">
                <svg
                  width="10"
                  height="6"
                  viewBox="0 0 10 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M0.293137 0.293015C0.683662 -0.097509 1.31683 -0.097509 1.70735 0.293015L5.00024 3.58591L8.29314 0.293015C8.68366 -0.097509 9.31683 -0.097509 9.70735 0.293015C10.0979 0.68354 10.0979 1.3167 9.70735 1.70723L5.70735 5.70723C5.31683 6.09775 4.68366 6.09775 4.29314 5.70723L0.293137 1.70723C-0.097387 1.3167 -0.097387 0.68354 0.293137 0.293015Z"
                    fill="#EB5757"
                  />
                </svg>
                10%
              </div>
            </div>
            <p class="features__stats-item-descr">
              Your Expanse of this month compared to last month
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="features__right">
      <h2 class="features__title heading-h2">
        Passion to increase company revenue up to 85%
      </h2>
      <p class="features__descr text-p-medium">
        Automate your sales, marketing and service in one platform. Avoid date
        leaks and enable consistent messaging
      </p>
      <ul class="features__list">
        <li class="features__item text-p-medium">
          Close more deals with single - page contact managment
        </li>
        <li class="features__item text-p-medium">
          Enjoy one-click calling, call scripts and voicemail automation
        </li>
        <li class="features__item text-p-medium">
          Take stages and milestones of your deals to keep the sales process an
          track
        </li>
      </ul>
    </div>
  </div>
</section>
